/* ---------------------------------PARA VISUALIZAR MENUMOVIL SIN DISCOS Y QUE SE VEA LA LETRA --------------------------------- */

header ul li {
  list-style: none;
}
.menu-container.mobile-menu ul,
.menu-container.mobile-menu ul ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Botones de la paginación */
.pagination a.page-link {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  transition: background 0.3s, color 0.3s;
}

.pagination a.page-link:hover {
  background: #15702d;
}

.pagination a.page-link.active {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}


/* --------------------------------- DEFINICIONES GENERALES --------------------------------- */
main {
  margin-top: 100px; /* Evita que el menú fijo cubra el contenido en escritorio */
}
@media screen and (max-width: 768px) {
  main {
      margin-top: 60px; /* Ajuste para móviles */
  }
}
/* ---------------------------------REDES SOCIALES  --------------------------------- */

.redes-sociales {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espaciado entre botones */
  margin-top: 40px;
}

.btn-red-social {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre el icono y el texto */
  padding: 8px 18px; /* Tamaño medio */
  text-decoration: none;
  font-size: 12px; /* Texto más claro pero no enorme */
  font-weight: bold;
  border-radius: 3px; /* Menos redondeado */
  transition: background 0.3s ease-in-out, transform 0.2s;
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.btn-red-social i {
  font-size: 16px; /* Íconos ligeramente más grandes */
}

/* Colores de cada botón */
.facebook { background: #0a4592; }
.twitter { background: #1DA1F2; }
.whatsapp { background: #046a29; }
.email { background: #D44638; }
.instagram { background: #E4405F; } /* Color oficial de Instagram */

/* Efecto hover */
.btn-red-social:hover {
  transform: scale(1.1); /* Pequeño efecto al pasar el mouse */
  opacity: 0.9;
}

/* RESPONSIVE: Para pantallas pequeñas, los botones se apilan */
@media screen and (max-width: 600px) {
  .redes-sociales {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }
}


/*------------------------------------------------------CONTADORES------------------------------*/

.info-container {
  display: flex;
  justify-content: flex-end; /* Alinea todo a la derecha */
  align-items: center;
  gap: 20px; /* Espacio entre los elementos */
  font-size: 16px;
  color: #333;
  margin-bottom: 15px; /* Separación del contenido */
}
.info-container span {
  display: flex;
  align-items: center;
  gap: 5px; /* Espacio entre el icono y el texto */
}
.info-container i {
  color: #666;
}
#like-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}
#like-button:hover {
  background-color: #c0392b;
}

/* --------------------------------- TIPOGRAFÍA --------------------------------- */
body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
}

/* --------------------------------- TÍTULOS Y ESPACIADO --------------------------------- */
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contenido-blog h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contenido-blog h2 {
  font-weight: 400;
  font-size: 1.9rem;
  padding-top: 20px;
  margin-bottom: 20px; /* Añadir separación después de h2 */
}

.contenido-blog h3 {
  text-align: left;
  font-weight: 300;
  font-size: 2rem;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-bottom: 15px; /* Espacio uniforme después de títulos */
}

.contenido-blog h4 {
  text-align: left;
  font-weight: 300;
  font-size: 1.6rem;
  padding-top: 25px;
  margin-bottom: 15px; /* Espacio uniforme después de títulos */
}
.contenido-blog h3 + h4 {
  padding-top: 5px; /* Reduce el espacio solo si h4 sigue a h3 */
  margin-top: -5px; /* Reduce aun más el espacio entre ellos */
}

/* Scroll margin para navegación con anclas */
h3[id], h4[id] {
  scroll-margin-top: 80px; /* Altura del menú fijo */
}
@media (max-width: 768px) {
  h3[id], h4[id] {
    scroll-margin-top: 80px;
  }
}

/* --------------------------------- PÁRRAFOS --------------------------------- */
p {
  color: #2b2b2c;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 15px;
  text-align: justify;
  font-weight: 400;
  margin-left: 0px;
  word-spacing: -0.5px; /* Reduce el espacio entre palabras */
}

/* --------------------------------- LISTAS FUERA DE INDICE DE CONTENIDO --------------------------------- */

/* Agregar espacio arriba y mover un poco a la izquierda las listas fuera de .indice-contenido */
/* Agregar espacio arriba, mover a la izquierda y añadir espacio debajo de listas fuera de .indice-contenido */

.contenido-blog ul:not(.indice-contenido ul) {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  list-style-type: disc;
}

.contenido-blog li:not(.indice-contenido li) {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 1px;
  padding-left: 20px;
  list-style-type: disc;
  word-spacing: -0.5px;
}

.contenido-blog ol:not(.indice-contenido ol) {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  list-style-type: decimal;
}

/* ----------------------------------------------Estilo del índice de contenido ------------------------*/
.indice-contenido {
  
  color: #684e07;
  text-align: left;
  padding: 40px 40px;
}
ol li {
  margin-left: 20px; /* Ajusta el margen según sea necesario */
}

/* Espacio debajo del título "Índice de Contenidos" */
.indice-contenido h3 {
    margin-bottom: 20px; /* Espacio después del título */
}

/* Espaciado entre elementos principales del índice */
.indice-contenido > ul > li {
    margin-bottom: 20px; /* Espacio entre cada sección principal */
}

/* Espaciado entre subsecciones */
.indice-contenido ul ul {
    margin-top: 10px; /* Espacio antes del primer subelemento */
    margin-bottom: 10px; /* Espacio después del último subelemento */
}

/* Espacio entre subsecciones individuales */
.indice-contenido ul ul li {
    margin-bottom: 8px;
}

/* Listas numeradas */
.numerada {
  counter-reset: item;
  list-style-type: decimal;
  padding-left: 0;
}

.numerada li {
  counter-increment: item;
  margin-bottom: 8px;
}

.numerada li::before {
  content: counter(item) ". ";
  font-weight: bold;
  color: #2c3e50;
}

/* --------------------------------- CONTENEDORES DEL BLOG --------------------------------- */
.distribucion-blog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 90%;
  margin: 80px auto 0 auto;
}

.contenido-blog-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 75%; /* Evita que el contenido del blog sea demasiado grande */
}

.contenido-blog {
  background-color: #fff;
}

.contenido-blog img {
  display: block;
  margin: 40px auto;
  max-width: 1000px;
  height: auto;
  width: 100%; /* 🔹 Se adapta al tamaño del contenedor */
}

/* --------------------------------- ANUNCIOS LATERALES --------------------------------- */
.anuncio-lateral {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 25%; /* Evita que los anuncios se vuelvan demasiado pequeños */
}

.anuncio {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.anuncio img {
  display: block;
  margin: 0 auto; /* 🔹 Centra la imagen horizontalmente */
  width: 100%;
  max-width: 350px; /* 🔹 Evita que la imagen sea demasiado grande */
  height: auto;
}

/* Ajuste de tamaño de las imágenes en anuncios según el ancho de pantalla */

/*En tablets (entre 769px y 1023px) */
@media screen and (max-width: 1023px) and (min-width: 769px) {
  .anuncio img {
    width: 300px; /* Fija el ancho de la imagen en 300px */
    height: auto; /* Mantiene la proporción original */
    display: block; /* Asegura que la imagen no tenga espacios extraños */
    margin: 0 auto; /* Centra la imagen dentro de su contenedor */
  }
}

/* En dispositivos intermedios (entre 265px y 768px, es decir, desde móviles grandes hasta tablets pequeñas) */
@media screen and (max-width: 768px) and (min-width: 265px) {
  .anuncio img {
    width: calc(100% - (40% * ((100vw - 265px) / (768px - 265px)))); /* Transición progresiva de tamaño */
    max-width: 300px; /* La imagen no crecerá más de 300px */
    height: auto; /* Mantiene la proporción */
    display: block; /* Evita errores de alineación */
    margin: 0 auto; /* Centra la imagen */
  }
}

/*En móviles pequeños (menos de 265px de ancho, es decir, menos de 7 cm de pantalla) */
@media screen and (max-width: 264px) {
  .anuncio img {
    width: 100% !important; /* Hace que la imagen ocupe todo el ancho disponible */
    max-width: none; /* Elimina cualquier restricción de tamaño máximo */
    height: auto; /* Mantiene la proporción */
  }
}

/* --------------------------------- RESPONSIVE DESIGN --------------------------------- */
/* Diseño para PC */
@media screen and (min-width: 1024px) {
  .distribucion-blog {
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    width: 70%;
  }
  .contenido-blog-container {
    width: 80%;
    flex: 2;
  }
  .anuncio-lateral {
    flex: 1;
    width: 20%;
    max-width: 350px;
  }
  .anuncio img {
    max-width: 320px;
  }
}

/* Diseño para tablets y móviles */
@media screen and (max-width: 1023px) {
  .distribucion-blog {
    flex-direction: column;
    width: 100%;
  }
  .contenido-blog-container { 
    order: 1; 
    width: 100%;
  }
  .anuncio-lateral { 
    order: 2; 
    width: 100%;
    max-width: 100%;
  }
}

/* --------------------------------- CABECERA BLOG ADAPTABLE --------------------------------- */
.cabecera-blog-adaptable {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 350px;
  overflow: hidden;
}

.cabecera-blog-adaptable img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

.titulo-cabecera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(33, 1, 67, 0.415);
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.titulo-cabecera h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: white;
  margin: 0;
  font-weight: 300;
  text-shadow: 2px 2px 4px #000000;
}

/* Ajuste responsive para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .cabecera-blog-adaptable {
    width: calc(100% - 40px);
  }
  .titulo-cabecera h1 {
    font-size: 1.8rem;
  }
  .contenido-blog img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 20px auto; /* Reduce el margen en móviles */
  }
  .indice-contenido {
    background-color: #7018e4d3; /* Color de fondo */
    color: #fff;
    text-align: left;
    padding:10px;

  }
  ol li{
    margin-left: 20px; /* Ajusta el margen según sea necesario */
  }
}

@media screen and (max-width: 480px) {
  .titulo-cabecera h1 {
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 768px) {
  .scroll-to-top {
      background-color: #e67e22 !important; /* 🔹 Usa el color que deseas */
      color: white !important; /* 🔹 Asegura que la flecha se vea bien */
      width: 40px; /* 🔹 Reduce el tamaño del botón */
      height: 40px; /* 🔹 Reduce el tamaño del botón */
  }
}


/*ENLACES*/
.enlace-ayurveda {
  color: #a10a76; /* Color ayurvédico cálido */
  font-style: italic; /* Texto en cursiva */
  text-decoration: none; /* Quita el subrayado predeterminado */
  transition: color 0.3s ease-in-out; /* Suaviza el cambio de color */
}

.enlace-ayurveda:hover {
  color: #9a5b00; /* Color más oscuro al pasar el cursor */
  text-decoration: underline; /* Subrayado al pasar el cursor */
}