# Activar el módulo rewrite de Apache
RewriteEngine On

# Redirecciones 301
Redirect 301 / https://medicina-ayurveda.es.html
Redirect 301 /abhyanga-oleacion-externa/ https://medicina-ayurveda.es/abhyanga-oleacion-externa.html
Redirect 301 /acne/ https://medicina-ayurveda.es/acne.html
Redirect 301 /adicciones/ https://medicina-ayurveda.es/adicciones.html
Redirect 301 /alergias/ https://medicina-ayurveda.es/alergias.html
Redirect 301 /autismo/ https://medicina-ayurveda.es/autismo.html
Redirect 301 /ayurveda-online/ https://medicina-ayurveda.es/ayurveda-online.html
Redirect 301 /blog/ https://medicina-ayurveda.es/blog.html
Redirect 301 /category/blog/enfermedades-segun-ayurveda/ https://medicina-ayurveda.es/blog.html
Redirect 301 /colon-irritable/ https://medicina-ayurveda.es/colon-irritable.html
Redirect 301 /contacto-2/ https://medicina-ayurveda.es/contacto.html
Redirect 301 /difusion/ https://medicina-ayurveda.es/difusion.html
Redirect 301 /formacion/ https://medicina-ayurveda.es/formacion.html
Redirect 301 /formacion/curso-de-masaje-ayurveda/ https://medicina-ayurveda.es/curso-de-masaje-ayurveda.html
Redirect 301 /formacion/curso-de-masaje-y-alimentacion-ayurveda/ https://medicina-ayurveda.es/curso-de-masaje-y-alimentacion-ayur.html
Redirect 301 /formacion/diplomaturas/ https://medicina-ayurveda.es/formacion/diplomaturas.html
Redirect 301 /formacion/diplomaturas/curso-de-alimentacion-ayurveda/ https://medicina-ayurveda.es/curso-de-alimentacion-ayurveda.html
Redirect 301 /formacion/talleres-y-seminarios/ https://medicina-ayurveda.es/formacion/talleres-y-seminarios.html
Redirect 301 /formacion/talleres-y-seminarios/belleza-ayurveda/ https://medicina-ayurveda.es/formacion/talleres-y-seminarios/belleza-ayurveda.html
Redirect 301 /gracias/ https://medicina-ayurveda.es/gracias.html
Redirect 301 /hernia-discal/ https://medicina-ayurveda.es/hernia-discal.html
Redirect 301 /indigestion-ajirna/ https://medicina-ayurveda.es/indigestion-ajirna.html
Redirect 301 /inscripcion/ https://medicina-ayurveda.es/inscripcion.html
Redirect 301 /kharjuradi-mantha/ https://medicina-ayurveda.es/kharjuradi-mantha.html
Redirect 301 /kichadi/ https://medicina-ayurveda.es/kichadi.html
Redirect 301 /menopausia-y-ayurveda/ https://medicina-ayurveda.es/menopausia-y-ayurveda.html
Redirect 301 /menta-piperita/ https://medicina-ayurveda.es/menta-piperita.html
Redirect 301 /politica-de-cookies/ https://medicina-ayurveda.es/politica-de-cookies.html
Redirect 301 /politica-de-privacidad/ https://medicina-ayurveda.es/politica-de-privacidad.html
Redirect 301 /prakruti/ https://medicina-ayurveda.es/prakruti.html
Redirect 301 /prana-tejas-y-ojas/ https://medicina-ayurveda.es/prana-tejas-y-ojas.html
Redirect 301 /receta-de-kichadi-plato-ayurvedico/ https://medicina-ayurveda.es/receta-de-kichadi-plato-ayurvedico.html
Redirect 301 /te-de-canela-y-almendras/ https://medicina-ayurveda.es/te-de-canela-y-almendras.html
Redirect 301 /tomando-el-pulso/ https://medicina-ayurveda.es/tomando-el-pulso.html
Redirect 301 /yoga-nidra/ https://medicina-ayurveda.es/yoga-nidra.html
Redirect 301 /zumo-de-amalaki/ https://medicina-ayurveda.es/zumo-de-amalaki.html

# Compresión Gzip
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE application/json
</IfModule>

# Cache Control
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access 1 year"
  ExpiresByType image/jpeg "access 1 year"
  ExpiresByType image/gif "access 1 year"
  ExpiresByType image/png "access 1 year"
  ExpiresByType image/webp "access 1 year"
  ExpiresByType text/css "access 1 month"
  ExpiresByType application/pdf "access 1 month"
  ExpiresByType application/javascript "access 1 month"
  ExpiresByType text/javascript "access 1 month"
</IfModule>

# Forzar HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# Seguridad
<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
  Order Allow,Deny
  Deny from all
</FilesMatch>

# Cabeceras
<IfModule mod_headers.c>
 Header set X-Frame-Options "DENY"
</IfModule>